 <div class="panel panel-default">
                    <div class="panel-body">
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label class="col-md-12 col-xs-12 control-label">{{ field.label_tag }}</label>
                            <div class="col-md-12 col-xs-12">
                                <div class="input-group">
                                    {{ field }}
                                </div>
                                {% if field.help_text %}
                                <span class="help-block">{{ field.errors }}</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-success" href="{% url 'posts' %}">Voltar</a>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>