{% extends "base.html" %}

{% block body %}
<h1 class="panel-heading">My blog</h1>
<a href="{% url 'add_post' %}" class="btn btn-primary">Add post</a>
<hr>
{% for post in posts %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">
            {{post.text|linebreaksbr}}
        </p>
        <footer class="blockquote-footer">Por: {{post.usuario}} - {{post.data_published}} <a href="{% url 'edit_post' post.id %}" class="btn btn-sm btn-warning" style="float: right"><span class="fa fa-edit"></span></a></footer>
    </div>
</div>
<h2></h2>
<p></p>

{% endfor %}
</form>
{% endblock%}